.home-container {
    padding: 0.5rem;
}

.filters {
    overflow-x: auto;
    gap: 5%;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    border-radius: 2px;
    align-items: center;
    box-shadow: 5px 5px #115e59;
    transition: all 0.3s;
    margin-top: 10px;
    margin-inline: 10px;
}

.skel {
    height: 20rem;
    background-color: rgba(207, 207, 207, 0.838);
    min-width: 100%;
}

.filters div:hover {
    cursor: pointer;
    background-color: var(--text-color);
}

.grad-animation {
    background: linear-gradient(-90deg, #dadada 25%, #7d7d7d 50%, #dedede 75%);
    background-size: 400% 100%;
    animation: gradientLoading 2s infinite alternate;
}
@keyframes gradientLoading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.filters div:hover h1 {
    color: var(--background-color);
}

.filters div:nth-child(1) {
    font-size: 1.7em;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover .product-img-cnt img {
    transform: scale(1.3);
}
.product:hover .product-img-cnt {
    transform: scale(0.98);
}

.items-cnt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    column-gap: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-items: center;
}

.product-name {
    color: #1f1f1fd1;
    text-transform: uppercase;
}

.product-img-cnt {
    height: 18rem;
    background-color: rgba(207, 207, 207, 0.838);
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
    overflow: hidden;
}

.items-hint {
    text-align: center;
    font-family: "satoshi";
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-img-cnt img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.1s;
}

.items-cnt {
    padding: 0 1.5rem;
    column-gap: 2rem;
}

.items-cnt a {
    width: 100%;
}

.product-price {
    color: #000000;
    font-family: "satoshi", "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
}

.hide-nav {
    max-height: 0;
    padding: 0px;
}

@media screen and (min-width: 1024px) {
    .items-cnt {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .items-cnt {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 606px) {
    .product-img-cnt img {
        min-height: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
    .items-cnt {
        padding: 0 1rem !important;
    }
}

@media screen and (min-width: 449px) {
    .filters {
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .product-img-cnt img {
        min-height: 85%;
    }
}

@media screen and (max-width: 388px) {
    .items-cnt {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
    }
}
