@tailwind base;
@tailwind components;
@tailwind utilities;

select:focus {
    /* outline: none; */
}
.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.heading-font {
    font-family: "Oswald", "Open Sans", "Helvetica Neue", sans-serif !important;
}

html {
    --background-color: #1f1f1f;
    --text-color: #f1f1f1;
    font-family: "satoshi", "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: "Oswald";
    color: #f1f1f1;
    font-size: 1.5em;
    margin: 0px;
    transition: all 0.1s;
}

footer {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    padding: 0.5rem;
}

footer h1 {
    margin: 0;
    text-decoration: underline 12px #115e59;
    font-size: 4em;
}

footer h2 {
    font-family: "Oswald";
    font-size: 1.6rem;
}

footer input {
    font-family: "Oswald";
    background-color: transparent;
    outline: none;
    font-size: 26px;
    border: none;
    border-bottom: 2px solid #115e59;
    color: rgb(118, 118, 118);
    text-wrap: wrap;
}

footer p {
    margin: 0;
}

.s-links {
    display: flex;
    filter: invert(1);
    gap: 8px;
    margin-top: 1rem;
}

.s-links img {
    width: 40px;
    cursor: pointer;
    transition: transform 0.1s;
}

.s-links img:hover {
    transform: scale(1.3);
}

.legal {
    margin-top: 1rem;
    font-family: "satoshi";
}
