.flex {
  display: flex;

}

a{
  text-decoration: none;
}

html{
  --background-color: #1f1f1f;
  --text-color: #f1f1f1;
}

body{
  margin: 0;
}

h1{
  font-family: 'Oswald';
  color: #f1f1f1;
  font-size: 1.5em;
  margin: 0px;
  transition: all 0.1s;
}

footer{

  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
}

footer h1{
  margin: 0;
  text-decoration: underline 12px #064e3b;
  font-size: 4em;
}

footer h2{
  font-family: 'Oswald';
  
}

footer input{
  font-family: 'Oswald';
  background-color: transparent;
  outline: none;
  font-size: 26px;
  border: none;
  border-bottom: 2px solid #064e3b;
  color: #f1f1f1;
  text-wrap: wrap;
}

footer p{
  margin: 0;
}

.s-links{
  display: flex;
  filter: invert(1);
  gap: 8px;
  margin-top: 2rem;
}

.s-links img{
  width: 40px;
  cursor: pointer;
}

.legal {
  margin-top: 2rem;
  font-family: 'satoshi';
}

